.section {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

.buttons {
    display: flex;
    column-gap: 20px;
}

.buttons button {
    width: 100px;
    height: 40px;
}

.fileinput_container {
    width: calc(50% - 15px);
    margin-top: 25px;
}

.fileinput {
    border: 2px solid var(--theme-dark-gray);
    color: var(--theme-dark);
    border-radius: 3px;
    font-size: 16px;
    width: 100%;
}

.fileinput::-webkit-file-upload-button {
    display: none;
}

.fileinput::before {
    content: 'Upload';
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: 40px;
    width: 120px;
    border-radius: 3px;
    font-size: 16px;
    border: none;
    font-weight: 700;
    background-color: var(--theme-pink);
    color: white;
    padding-top: 11px;
    margin-right: 10px;
}

.fileinput:hover::before {
    cursor: pointer;
}